<section class="bg">
  <div class="container">
    <swiper [config]="SWIPER_HERO" [pagination]="{
      dynamicBullets: true
    }" class="hero">
      <ng-template swiperSlide>
        <div class="overlay">
          <img src="/assets/images/background/bg-swiper.jpg" alt="">
          <div class="info">
            <h2 class="text-end">
              Nós cuidamos<br />
              de você.
            </h2>
            <p>
              Clínica especializada em tratamento de feridas.
            </p>
            <a routerLink="" href="">Entre em contato</a>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="overlay">
          <img src="/assets/images/background/bg-swiper.jpg" alt="">
          <div class="info">
            <h2 class="text-end">
              Nós cuidamos<br />
              de você.
            </h2>
            <p>
              Clínica especializada em tratamento de feridas.
            </p>
            <a routerLink="" href="">Entre em contato</a>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</section>
