.bg {
  height: auto;
  background-color: var(--primary-color);
  .container {
    height: 100%;
    .overlay {
      width: 100%;
      position: relative;
      img {
        width: 100% !important;
        height: 100% !important;
        max-height: 600px;
        object-fit: cover;
        filter: opacity(0.9);
      }
      .info {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: flex-end;
        right: 15%;
        bottom: 15%;
        h2 {
          color: var(--tertiary-color);
          font-size: 3rem;
        }
        p {
          color: var(--tertiary-color);
        }
        a {
          background-color: var(--tertiary-color);
          padding: 8px 15px;
          text-decoration: none;
          transition: all ease 0.3s;
          color: var(--primary-color);
          border: 1px solid transparent;
          &:hover {
            background-color: var(--primary-color);
            color: white;
            border: 1px solid black;
          }
        }
      }
    }
  }
}
