<div class="container py-5 ourjobs">
  <h6 class="text-center ourjobs-date">Maio, 2022</h6>
  <p class="p-lg-5 p-sm-3 ourjobs-desc">Desenvolvemos Landing Pages, E-commerces e Portfólios, aplicando conceitos de
    Busca orgânica e otimizada, que farão com que seu site se destaque nas ferramentas de busca. Damos um foco muito
    grande na responsividade, que fará com que seu site rode em qualquer dispositivo. <br /><b>Quanto mais otimizado e
      responsivo um site é, mais ele aparecerá em ferramentas de busca!</b></p>
  <div class="row px-0">
    <div class="col-12 d-flex justify-content-center flex-column align-items-center px-3 bb">
      <div class="ourjobs-image-wrapper_main">
        <img alt="Placeholder" class="img-fluid" src="http://placekitten.com/900/500">
      </div>
      <div class="ourjobs-image-desc mt-4 mb-5">
        Lorem ipsum lorem zap zap zap zap zap zap
      </div>
    </div>
    <div class="col-12 col-lg-6 py-5 bs ourjobs-projects" *ngFor="let item of projects">
      <h5 class="mb-4">{{item.name}}</h5>
      <div class="ourjobs-projects-image-wrapper_others">
        <img alt="Placeholder" class="img-fluid" src="http://placekitten.com/448/228">
      </div>
      <p class="my-4">Lorem ipsum zap teste texto de merda</p>
      <div class="">
        <a href="" target="_blank" class="btn btn-nandev_alt">VER SITE ONLINE</a>
      </div>
    </div>
  </div>
</div>
