.ourjobs {
  background-color: white;
  &-date {
    position: relative;
    font-style: normal;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 33%;
      background-color: #f2f2f2;
      left: 60%;
      top: 50%;
    }
    &:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 33%;
      background-color: #f2f2f2;
      right: 60%;
      top: 50%;
    }
  }
  &-desc,
  &-image-desc {
    font-size: 0.9rem;
    line-height: 1.6rem;
    text-align: center;
  }
  &-image-wrapper_main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    height: 200px;
    img {
      max-width: 400px;
      height: 200px;
      object-fit: cover;
      transition: all ease 0.5s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    @media (min-width: 992px) {
      overflow: hidden;
      max-width: 900px;
      height: auto;
      img {
        max-width: 900px;
        height: auto;
      }
    }
  }
  .bb{
    border-bottom:1px solid #f2f2f2;
  }
  .bs{
    border:1px solid #f2f2f2;
  }
  &-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    h5 {
      text-transform: uppercase;
      font-weight: bolder;
      font-style: normal;
      font-family: "Roboto", serif;
      transition: all ease-in-out 0.2s;
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }
    &-image-wrapper_others {
      max-width: 448px;
      height: 228px;
      width: 100%;
      overflow: hidden;
      img {
        max-width: 448px;
        width: 100%;
        height: 228px;
        transition: all ease-in-out 0.3s;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
