<footer id="contato">
  <div class="container py-5 text-center top">
    <img src="https://via.placeholder.com/100x100" class="mb-3"
      alt="Logo da CETF - Centro especializado em tratamento de feridas">
    <h5><b>CETF - CENTRO ESPECIALIZADO<br /> EM TRATAMENTO DE FERIDAS</b></h5>
    <a href="https://goo.gl/maps/VuzoWAHRGvsKBQki9" target="_blank" class="">Rua panambi, 1578 - Centro<br />
      Campo Mourão/PR</a><br />
    <a href="tel:4430163271" class="m-0">Fone: (44) 3016-3271</a>

  </div>
  <div class="container py-2 bottom">
    <div class="row text-center">
      <div class="col-lg-12">
        <a href="https://t.me/llumiro" target="_blank" class="btn">Copyright 2022 - NaNDev</a>
      </div>
    </div>
  </div>
</footer>
