.container {
  background-color: #f2f2f2;
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ form{
    display:block;
  }
  form{
    display:none;
    animation: scale ease-in-out 0.2s;
  }
  .toggle-btn {
    border: 4px solid black;
    padding: 5px 10px;
    font-family: "Roboto", serif;
    font-style: normal !important;
    text-transform: uppercase;
    transition: all ease 0.2s;
    font-size:2rem;
    &:hover {
      border: 4px solid var(--primary-color);
      color: var(--primary-color);
      cursor: pointer;
    }
  }
  font-style: normal;
}
