<div class="container text-center py-5">
  <input type="checkbox" id="toggle-contact">
  <label class="toggle-btn" for="toggle-contact">
    Entre em contato</label>
  <form class="my-5 form-group">
    <div class="row px-2">
      <div class="col-12 mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="E-mail">
      </div>
      <div class="col-12 mb-3">
        <input type="text" class="form-control" id="floatingPassword" placeholder="Nome">
      </div>
      <div class="col-12 mb-3">
        <textarea class="form-control" rows="3" placeholder="Mensagem" style="resize:none;"></textarea>
      </div>
    </div>
  </form>
</div>
