.container {
  .menu {
    display: none;
    animation: scale 0.2s ease-in-out;
    @media (min-width: 992px) {
      display: flex;
      flex-flow: row !important;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--primary-color);
      font-weight: bold;
      transition: all ease 0.2s;
      padding: 0;
      &:hover {
        color: var(--quarternary-color);
        background-color: var(--primary-color);
      }
    }
  }
  label {
    display: inline;
    pointer-events: none;
    @media (min-width: 992px) {
      display: none !important;
    }
    .icon {
      pointer-events: visibleFill;
      width: 40px;
      height: 40px;
      background-color: var(--primary-color);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .top,
      .middle,
      .bottom {
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        position: absolute;
        transition: all ease 0.2s;
      }
      .top {
        top: 8px;
      }
      .middle {
        top: 19px;
      }
      .bottom {
        top: 30px;
      }
    }
  }
  #toggleMenu:checked ~ label .icon {
    .top {
      transform: rotate(45deg);
      top: 48%;
    }
    .middle {
      opacity: 0;
    }
    .bottom {
      transform: rotate(-45deg);
      top: 48%;
    }
  }
  #toggleMenu:checked ~ .menu {
    display: flex;
    flex-flow: column;
    .col {
      padding: 1rem 0;
    }
  }
  .navbar-collapse {
    flex-basis: 100%;
    @media (min-width: 992px) {
      flex-basis: auto;
    }
  }
}

.tothetop {
  position: fixed;
  bottom: 10px;
  right: 5%;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
}
