<nav class="px-0">
  <div class="container">
    <div class="row justify-content-between">
      <a routerLink="/" class="navbar-brand col-2">
        <img src="https://via.placeholder.com/110x110" alt="Logo da CETF - CENTRO ESPECIALIZADO
        EM TRATAMENTO DE FERIDAS">
      </a>
      <input type="checkbox" class="d-none" id="toggleMenu">
      <label for="toggleMenu" class="col d-flex align-items-center justify-content-end">
        <div class="icon">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
      </label>
      <div class="col-3 pb-1 pt-lg-1 mx-auto row align-items-center text-center collapse navbar-collapse menu">
        <a routerLink="" fragment="sobre" class="col">Sobre</a>
        <a routerLink="" fragment="reviews" class="col">Reviews</a>
        <a routerLink="" fragment="quem-somos-nos" class="col">Quem somos nós</a>
        <a routerLink="" fragment="contato" class="col">Contato</a>
      </div>
    </div>
  </div>
</nav>

<a routerLink="/" class="tothetop" (click)="scrollTo()">
  Voltar ao topo ^
</a>
