<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<!-- redirecionamento sem WWW -->
				<rule name="RedirectNonWwwToWww" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^formitex.com.br$" />
					</conditions>
					<action type="Redirect" url="https://www.formitex.com.br/{R:0}" redirectType="Permanent" />
				</rule>
				<!-- redirecionamento para HTTPS -->
				<rule name="HTTPS" stopProcessing="true">
				  <match url="(.*)" />
				  <conditions logicalGrouping="MatchAll">
					<add input="{HTTP_HOST}" pattern="^www\.formitex\.com\.br$" />
					<add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
				  </conditions>
				  <action type="Redirect" url="https://www.formitex.com.br/{R:1}" redirectType="SeeOther" />
				</rule>
				<rule name="Angular Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="./index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
